/.quarto/
.Rproj.user
chs-challenges-demos/demo-sanger-processing.qmd
chs-challenges-demos/demo-sequence-alignment.qmd
chs-challenges-demos/demo-phylogenetics.qmd
chs-challenges-demos/demo-reads-assessment.qmd
chs-challenges-demos/demo-genome-assembly.qmd
/.luarc.json
